body {
    background: #333333;
    color: #fefefe;
}

h1 {
    font-family: "Nunito", sans-serif;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 3px solid rgb(207, 207, 207);
    border-radius: 5%;
}

th {
    font-family: "Nunito", sans-serif;
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
}

td h4{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 0px 12px;
}