* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #202020;
  text-align: center;
}
h1 {
  color:#E65100;
  font-family:"Nunito", sans-serif;
  margin-bottom:0.5rem;
  font-size: 28px;
  margin-top: 10vh;
}
h3 {
  color:#FFCA28;
  font-family:"Nunito", sans-serif;
  margin-bottom:1rem;
}
h4 {
  color:#FFCA28;
  font-family:"Ubuntu", sans-serif;
}
p {
    color: #E0E0E0;
    font-family: "Nunito",sans-serif;
    font-weight: 600;
    font-family: 14px;
}
.elementos {
  display: flex;
  flex-direction:column;
  align-items: center;
  align-content: center;
  background-color:#37474F;
  max-width: 400px;
  height: 330px;
  margin: 5vh auto;
  border-radius: 20px;
}
.elementos input, button {
  margin: auto auto;
}
.inps input{
  width: 160px;
  height: 30px;
  margin: 12px 0;
  border-radius: 5px;
  border: #757575 2px solid;
}
.inps {
  margin: auto auto;
  text-align:center;
  justify-content:center;
  align-items:center;
}
.b-cont {
  margin: 20px auto;
  width: 400px;
  display: flex;
  justify-content: space-evenly;
}
button{
  color:#fefefe;
  border: #E0E0E0 2px solid;
  background-color:#546E7A;
  border-radius: 5px;
  padding: 11px 20px;
}
button:active {
    background-color: aqua;
}
input::placeholder{
  color:rgba(60, 60, 60, 0.6);
  font-size: 12px;
}

.foot {
  color: #fefefe;
  font-family: "Ubuntu", sans-serif;
}